.vscode/settings.json
static/data/jasmine3.5.0/MIT.LICENSE
static/data/jasmine3.5.0/SpecRunner.html
static/data/jasmine3.5.0/lib/jasmine-3.5.0/boot.js
static/data/jasmine3.5.0/lib/jasmine-3.5.0/jasmine_favicon.png
static/data/jasmine3.5.0/lib/jasmine-3.5.0/jasmine-html.js
static/data/jasmine3.5.0/lib/jasmine-3.5.0/jasmine.css
static/data/jasmine3.5.0/lib/jasmine-3.5.0/jasmine.js
static/data/jasmine3.5.0/spec/cookbookSpec.js
static/data/jasmine3.5.0/spec/PlayerSpec.js
static/data/jasmine3.5.0/spec/SpecHelper.js
static/data/jasmine3.5.0/src/cookbook_jasmine.js
static/data/jasmine3.5.0/src/Player.js
static/data/jasmine3.5.0/src/Song.js
static/data/jasmine/jasmine.html
*.sqlite3
*.pyc
__pycache__
env.py
