{% extends 'base.html' %}
{% block content %}
<div id="welcomeWrapper">
    <div class="headline">
        Hi! Thanks for the visit. Feel free to search for recipes you like to try. <br> Or even better, share your favourite dish!
    </div>

    <div class="chartWrapper">
        <div class="chart">
            <div class="headline">
            Total viewcount per user</div>
            <div id="per-user-viewcount"></div>
        </div>

        <div class="chart">
            <div class="headline"> Total viewcount per dish type</div>
            <div id="per-dish-type-viewcount"></div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='vendor/dc/dc-script.js')}}" type="text/javascript"></script>
{% endblock %}