@import "_partials/_portrait-mobile.scss";
@import "_partials/_portrait-desktop.scss";
@import "_partials/_portrait-ipad.scss";
@import "_partials/_landscape-mobile.scss";
@import "_partials/_landscape-desktop.scss";
@import "_partials/_landscape-ipad.scss";
